<h1>
  Edit item #<%= @item.id %>
</h1>

<hr>

<!-- Form item start -->
<form action="/update_item/<%= @item.id %>" method="post">
<!-- Form item end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @item.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @item.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @item.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for vegetarian start -->
  <div class="form-check">
    <input type="hidden" value="0" name="vegetarian">
    <!-- Input for vegetarian start -->
    <input id="vegetarian" class="form-check-input" name="vegetarian" type="checkbox" value="1" <%= "checked" if @item.vegetarian %>>
    <!-- Input for vegetarian end -->
    <label for="vegetarian" class="form-check-label">
      Vegetarian
    </label>
  </div>

  <!-- Label and input for vegan start -->
  <div class="form-check">
    <input type="hidden" value="0" name="vegan">
    <!-- Input for vegan start -->
    <input id="vegan" class="form-check-input" name="vegan" type="checkbox" value="1" <%= "checked" if @item.vegan %>>
    <!-- Input for vegan end -->
    <label for="vegan" class="form-check-label">
      Vegan
    </label>
  </div>

  <!-- Label and input for glutenfree start -->
  <div class="form-check">
    <input type="hidden" value="0" name="glutenfree">
    <!-- Input for glutenfree start -->
    <input id="glutenfree" class="form-check-input" name="glutenfree" type="checkbox" value="1" <%= "checked" if @item.glutenfree %>>
    <!-- Input for glutenfree end -->
    <label for="glutenfree" class="form-check-label">
      Glutenfree
    </label>
  </div>

  <!-- Label and input for size start -->
  <div class="form-group">
    <label for="size">
      Size
    </label>

    <!-- Input for size start -->
    <input type="text" id="size" name="size" class="form-control" value="<%= @item.size %>">
    <!-- Input for size end -->
  </div>
  <!-- Label and input for size end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <!-- Input for price start -->
    <input type="text" id="price" name="price" class="form-control" value="<%= @item.price %>">
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <button class="btn btn-block btn-outline-secondary">
    Update item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
